<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= t('.header', test: @passed_test.test.title) %></h1>

  <%= form_with url: passed_test_path(@passed_test), local: true, method: :put do |form| %>
    <p class="small"><%= t('.description', category: @passed_test.test.category.title, level: test_level(@passed_test.test), author: @passed_test.test.author.first_name) %></p>
    <p class="small"><%= t('.position_of_question', count: @passed_test.test.questions.count, position: @passed_test.position_current_question) %></p>

    <p><%= @passed_test.current_question.body %></p>

    <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |c| %>
      <div class="mb-3 form-check">
        <%= c.check_box id: "answer_ids_#{c.object.id}", class: 'form-check-input' %>
        <%= c.label class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="d-flex bd-highlight mb-3">
      <%= form.submit class: 'btn btn-primary btn-lg' %>
      <%= link_to t('.create_gist'), gist_passed_test_path(@passed_test), method: :post, class: 'btn btn-info btn-lg ml-auto' %>
    </div>
  <% end %>
</div>
