<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= t('.header', test: @passed_test.test.title) %></h1>

  <%= form_with url: passed_test_path(@passed_test), id: 'form', local: true, method: :put do |form| %>
    <div class="row">
      <div class="col">
        <p class="small"><%= t('.description', category: @passed_test.test.category.title, level: test_level(@passed_test.test), author: @passed_test.test.author.first_name) %></p>
      </div>
        <% if @passed_test.timer? %>
          <div class="col">
            <%= content_tag :p, id: 'timer', class: 'small hide text-right', data: { complete_before: @passed_test.complete_before.iso8601 } do %>
              <%= t('.time_left') %>
              <span id="days"></span><%= t('.day') %>
              <span id="hours"></span><%= t('.hour') %>
              <span id="minutes"></span><%= t('.min') %>
              <span id="seconds"></span><%= t('.sec') %>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="progress mb-3">
      <%= content_tag :div,
          t('.position_of_question', count: @passed_test.test.questions.count, position: @passed_test.position_current_question),
          class: 'progress-bar', role: 'progressbar',
          aria: { valuemin: 0, valuemax: 100 },
          data: { progress: @passed_test.progress }
      %>
    </div>

    <p><%= @passed_test.current_question.body %></p>

    <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |c| %>
      <div class="mb-3 form-check">
        <%= c.check_box id: "answer_ids_#{c.object.id}", class: 'form-check-input' %>
        <%= c.label class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="d-flex bd-highlight mb-3">
      <%= form.submit class: 'btn btn-primary btn-lg' %>
      <%= link_to t('.create_gist'), gist_passed_test_path(@passed_test), method: :post, class: 'btn btn-info btn-lg ml-auto' %>
    </div>
  <% end %>
</div>
