<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1>Passing the <%= @passed_test.test.title %> Test</h1>

  <%= form_with url: passed_test_path(@passed_test), local: true, method: :put do |form| %>
    <p class="small">Category: <%= @passed_test.test.category.title %>; Level: <%= test_level(@passed_test.test) %>; Author: <%= @passed_test.test.author.name %></p>
    <p class="small">The <%= @passed_test.test.questions.index(@passed_test.current_question) + 1 %> of <%= pluralize(@passed_test.test.questions.count, 'question') %></p>

    <p><%= @passed_test.current_question.body %></p>

    <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |c| %>
      <div class="mb-3 form-check">
        <%= c.check_box id: "answer_ids_#{c.object.id}", class: 'form-check-input' %>
        <%= c.label class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="d-flex bd-highlight mb-3">
      <%= form.submit class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>
