<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.title, class: 'title-inline', data: { resource_id: badge.id } %>
    <%= content_tag :span, octicon('pencil', height: 12), class: 'edit-inline', data: { resource_id: badge.id } %>
    <%= render 'from_inline', badge: badge == @badge ? @badge : badge %>
  </td>
  <td class="align-middle"><%= image_tag badge.image, class: 'img-thumbnail rounded', size: 60 %></td>
  <td class="align-middle"><%= condition_title(badge.condition) %></td>
  <td class="align-middle text-right"><%= link_to t('edit'), edit_admin_badge_path(badge) %></td>
  <td class="align-middle text-right"><%= link_to t('delete'), admin_badge_path(badge), method: :delete, data: { confirm: t('are_you_sure') } %></td>
</tr>
