<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= badge_header(@badge) %></h1>

  <%= render 'shared/errors', resource: @badge %>

  <%= form_with model: [:admin, @badge], local: true do |form| %>
    <div class="mb-3">
      <%= form.label :title %>
      <%= form.text_field :title, id: :badge_title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :image %>
    </div>

    <div class="row justify-content-center mb-3">
      <% @images.each_with_index do |image, i| %>
        <div class="col-sm-2">
          <div class="custom-control custom-radio mb-3">
            <%= form.radio_button :image, image, id: "badge_#{i}", class: 'custom-control-input' %>
            <%= form.label i, image_tag(image, class: 'img-thumbnail rounded', size: 100), class: 'custom-control-label' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :condition %>
      <%= form.select(:condition, AchievementService::CONDITIONS.map { |c| [condition_title(c), c] }, { prompt: true }, { class: 'form-control' }) %>
    </div>

    <div class="mb-3">
      <%= form.label :target %>
      <%= form.number_field :target, id: :badge_target, class: 'form-control' %>
    </div>

    <hr class="mb-4">

    <div class="d-flex bd-highlight mb-3">
      <%= form.submit class: 'btn btn-primary btn-lg' %>
      <%= link_to t('back'), admin_badges_path, class: 'ml-auto' %>
    </div>
  <% end %>
</div>
