<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1>Forgot your password?</h1>

  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>

    <hr class="mb-4">

    <div class="d-flex bd-highlight mb-3">
      <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-lg' %>
      <p class="ml-auto mb-0 text-right">
        <%= render "devise/shared/links" %>
      </p>
    </div>
  <% end %>
</div>
