<tr>
  <td>
    <%= link_to question.body, admin_question_path(question), class: 'title-inline', data: { resource_id: question.id } %>
    <%= content_tag :span, octicon('pencil', height: 12), class: 'edit-inline', data: { resource_id: question.id } %>
    <%= render 'admin/questions/from_inline', question: question == @question ? @question : question %>
  </td>
  <td class="text-right"><%= link_to t('edit'), edit_admin_question_path(question) %></td>
  <td class="text-right"><%= link_to t('delete'), admin_question_path(question), method: :delete, data: { confirm: t('are_you_sure') } %></td>
</tr>
