<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= @question.body %></h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.table.answer') %></th>
        <th scope="col" colspan="2" class="text-right"><%= t('.table.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @question.answers %>
    </tbody>

    <tr>
      <td colspan="3" class="text-right"><%= link_to t('.add_new_answer'), new_admin_question_answer_path(@question) %></td>
    </tr>
    <tr>
      <td colspan="3" class="text-right"><%= link_to t('back'), admin_test_path(@question.test) %></td>
    </tr>
  </table>
</div>
