<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= t('.header') %></h1>

  <div class="row">
    <div class="col">
      <h3><%= t('.achieved') %></h3>

      <%= render @achievements %>
    </div>
    <div class="col">
      <h3><%= t('.all') %></h3>

      <%= render 'badges', badges: @badges %>
    </div>
  </div>
</div>
