<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= @test.title %></h1>

  <p class="small"><%= t('.description', category: @test.category.title, level: test_level(@test), author: @test.author.first_name) %></p>

  <%= render 'shared/errors', resource: @question %>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= t('.table.question') %></th>
      <th scope="col" colspan="2" class="text-right"><%= t('.table.actions') %></th>
    </tr>
    </thead>

    <tbody>
      <%= render @test.questions %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3" class="text-right"><%= link_to t('.add_new_question'), new_admin_test_question_path(@test) %></td>
      </tr>
      <tr>
        <td colspan="3" class="text-right"><%= link_to t('back'), admin_tests_path %></td>
      </tr>
    </tfoot>
  </table>
</div>
