<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1><%= t('.header') %></h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="sort-by-title">
          <%= t('.table.title') %>
          <span class="sort">
            <%= octicon 'triangle-up', height: 12, class: 'sort-asc' %>
            <%= octicon 'triangle-down', height: 12, class: 'sort-desc' %>
          </span>
        </th>
        <th scope="col"><%= t('.table.level') %></th>
        <th scope="col"><%= t('.table.count_of_questions') %></th>
        <th scope="col" class="text-right"><%= t('.table.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
